body {
    margin: 0;
    padding: 0;
    
}


.header {
		background-image: url(css-img/background.png);
		background-size: cover;
    width: 100%;
    height: 100vh;
}

.nav {
	
}

.nav ul {
	
}

.nav li {
	
}